<div class="preloader-container">
    <div class="spinner">
        <span class="spinner__ball spinner__ball_first"></span>
        <span class="spinner__ball spinner__ball_second"></span>
        <span class="spinner__ball spinner__ball_third"></span>
    </div>
</div>