@import '../../components/common-header';
@import '../../components/navigation';
@import '../../components/logo';
@import '../../components/menu';
@import '../../components/filter-btns';

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/library/header/bg.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: bottom center;

  &__navigation {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/library/header/bg-tablet.jpg');
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/library/header/bg-tablet.jpg');
  }
}
