<section class="gallery-section">
    <div class="container">
        <ul class="gallery-list list">
            <li class="gallery-list__item">
                <img src="" alt="" class="gallery-list__img">
                <h2 class="gallery__list-title"></h2>
                <ul class="genres-list list">
                    <li class="genres-list__item"></li>
                    <li class="genres-list__item"></li>
                </ul>
                <span class="gallery__list-item-year"></span>
            </li>
            <li class="gallery-list__item">
                <img src="" alt="" class="gallery-list__img">
                <h2 class="gallery__list-title"></h2>
                <ul class="genres-list list">
                    <li class="genres-list__item"></li>
                    <li class="genres-list__item"></li>
                </ul>
                <span class="gallery__list-item-year"></span>
            </li>
            <li class="gallery-list__item">
                <img src="" alt="" class="gallery-list__img">
                <h2 class="gallery__list-title"></h2>
                <ul class="genres-list list">
                    <li class="genres-list__item"></li>
                    <li class="genres-list__item"></li>
                </ul>
                <span class="gallery__list-item-year"></span>
            </li>
            <li class="gallery-list__item">
                <img src="" alt="" class="gallery-list__img">
                <h2 class="gallery__list-title"></h2>
                <ul class="genres-list list">
                    <li class="genres-list__item"></li>
                    <li class="genres-list__item"></li>
                </ul>
                <span class="gallery__list-item-year"></span>
            </li>
            <li class="gallery-list__item">
                <img src="" alt="" class="gallery-list__img">
                <h2 class="gallery__list-title"></h2>
                <ul class="genres-list list">
                    <li class="genres-list__item"></li>
                    <li class="genres-list__item"></li>
                </ul>
                <span class="gallery__list-item-year"></span>
            </li>
        </ul>
    </div>
</section>