<section class="gallery-section">
    <div class="container">
        <ul class="gallery-list list">
            <li class="gallery-list__item">
                <img src="./images/gallery/gallery-img.jpg" alt="" class="gallery-list__img">
                <div class="gallery-list__content">
                    <h2 class="gallery-list__title">GREYHOUND</h2>
                    <div class="gallery-list__bottom-wrapper">
                        <ul class="genres-list list">
                            <li class="genres-list__item">Drama,</li>
                            <li class="genres-list__item">Action</li>
                        </ul>
                        <span class="gallery-list__item-year">2020</span>
                    </div>
                </div>
            </li>
            <li class="gallery-list__item">
                <img src="./images/gallery/gallery-img.jpg" alt="" class="gallery-list__img">
                <div class="gallery-list__content">
                    <h2 class="gallery-list__title">GREYHOUND</h2>
                    <div class="gallery-list__bottom-wrapper">
                        <ul class="genres-list list">
                            <li class="genres-list__item">Drama,</li>
                            <li class="genres-list__item">Action</li>
                        </ul>
                        <span class="gallery-list__item-year">2020</span>
                    </div>
                </div>
            </li>
            <li class="gallery-list__item">
                <img src="./images/gallery/gallery-img.jpg" alt="" class="gallery-list__img">
                <div class="gallery-list__content">
                    <h2 class="gallery-list__title">GREYHOUND</h2>
                    <div class="gallery-list__bottom-wrapper">
                        <ul class="genres-list list">
                            <li class="genres-list__item">Drama,</li>
                            <li class="genres-list__item">Action</li>
                        </ul>
                        <span class="gallery-list__item-year">2020</span>
                    </div>
                </div>
            </li>
            <li class="gallery-list__item">
                <img src="./images/gallery/gallery-img.jpg" alt="" class="gallery-list__img">
                <div class="gallery-list__content">
                    <h2 class="gallery-list__title">GREYHOUND</h2>
                    <div class="gallery-list__bottom-wrapper">
                        <ul class="genres-list list">
                            <li class="genres-list__item">Drama,</li>
                            <li class="genres-list__item">Action</li>
                        </ul>
                        <span class="gallery-list__item-year">2020</span>
                    </div>
                </div>
            </li>
            <li class="gallery-list__item">
                <img src="./images/gallery/gallery-img.jpg" alt="" class="gallery-list__img">
                <div class="gallery-list__content">
                    <h2 class="gallery-list__title">GREYHOUND</h2>
                    <div class="gallery-list__bottom-wrapper">
                        <ul class="genres-list list">
                            <li class="genres-list__item">Drama,</li>
                            <li class="genres-list__item">Action</li>
                        </ul>
                        <span class="gallery-list__item-year">2020</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>