.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  transition: opacity 250ms linear 0ms, visibility 250ms linear 0ms;

  &__container {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear 500ms, visibility 500ms linear 500ms;
  }
}

.modal {
  position: relative;
  width: 100%;
  height: 96vh;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  transform: scale(1) rotate(360deg);
  transition: transform 500ms linear 500ms;

  .backdrop.is-hidden & {
    transform: scale(0);
    transition: transform 500ms linear 0ms;
  }

  &__card-container {
    padding: 46px 20px;
  }

  &__card-img {
    width: 100%;
  }

  &__card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  &__card-info-list {
    margin-bottom: 20px;
  }

  &__card-info-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &_color_main {
      color: #000000;
    }

    &_color_secondary {
      color: #8c8c8c;
    }

    &_side_left {
      display: inline-block;
      width: 80px;
      margin-right: 30px;
    }
  }

  &__card-info-votes {
    display: inline-block;
    vertical-align: middle;
    padding: 1px 10px;
    border-radius: 5px;
    line-height: 1.2;

    &_color_accent {
      background-color: var(--accent-color);
      color: #ffffff;
    }

    &_color_secondary {
      background-color: #f7f7f7;
    }
  }

  &__card-subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 10px;
  }

  &__card-description {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    margin-bottom: 20px;
  }

  &__card-btn-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    gap: 16px;
    margin: 0 auto;
  }

  &__card-btn {
    max-width: 114px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    padding: 6px 8px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
    cursor: pointer;

    background-image: linear-gradient(to right, transparent 0% 50%, var(--accent-color) 50% 100%);
    background-size: 200% auto;
    background-position: 0 0;
    transition: all 250ms linear;

    &:hover,
    &:focus {
      background-position: -100% 0;
      border-color: var(--accent-color);
      color: #ffffff;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  line-height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &__icon {
    stroke: #000000;
    transition: stroke 250ms linear;

    .close-btn:hover &,
    .close-btn:focus & {
      stroke: var(--accent-color);
    }
  }
}

@media screen and (max-width: 767px) {
  .modal {
    &__card-left-side {
      margin-bottom: 30px;
    }
  }
}

@media screen and (min-width: 768px) {
  .modal {
    max-height: 570px;

    &__card-container {
      padding: 40px 26px;
    }

    &__card {
      display: flex;
      justify-content: space-between;
    }

    &__card-left-side,
    &__card-right-side {
      width: calc((100% - 30px) / 2);
    }

    &__card-btn-wrapper {
      max-width: 266px;
      margin: 0;
    }

    &__card-btn {
      max-width: unset;
      min-width: 126px;
      line-height: 1.5;
      padding: 12px 8px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .modal {
    &__card-container {
      padding: 40px 30px;
    }

    &__card-img {
      height: 480px;
      object-fit: contain;
      object-position: top center;
    }

    &__card-title {
      font-size: 30px;
      margin-bottom: 20px;
    }

    &__card-info-text {
      &_side_left {
        width: 122px;
      }
    }

    &__card-btn {
      min-width: 136px;
    }
  }
}
