.gallery-section {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.gallery-list {
  position: relative;
  flex-grow: 1;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  &__item {
    cursor: pointer;
    box-shadow: 0 0 10px 0 #cecece;
    transition: transform 250ms linear;
    border-radius: 5px;

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }

  &__content {
    padding: 10px 10px;
  }

  &__title {
    font-size: 12px;
    text-transform: uppercase;
    color: #000000;
  }

  &__img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top center;
    border-radius: 5px;
  }

  &__bottom-wrapper {
    display: flex;
    flex-wrap: wrap;
    color: var(--accent-color);
  }

  &__item-year {
    display: inline-block;
    padding-left: 4px;
  }
}

.genres-list {
  border-right: 1px solid var(--accent-color);
  padding-right: 4px;

  &__item {
    display: inline-block;
  }
}

@media screen and (max-width: 767px) {
  .gallery-list {
    display: grid;
    row-gap: 20px;
  }
}

@media screen and (min-width: 768px) {
  .gallery-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .gallery-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
