@import '../../components/common-header';
@import '../../components/navigation';
@import '../../components/logo';
@import '../../components/menu';
@import '../../components/search-form';
@import '../../components/warning-message';

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/home/header/bg.jpg');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);

  &__navigation {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/home/header/bg-tablet.jpg');
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/home/header/bg-desktop.jpg');
  }
}
