<header class="header">
    <div class="container">
        <nav class="navigation">
            <a href="/index.html" class="logo link">
                <svg class="logo__img" width="24" height="24">
                    <use href="./images/sprite.svg#logo"></use>
                </svg>
                <span class="logo__text">Filmoteka</span>
            </a>
            <ul class="menu list">
                <li class="menu__item">
                    <a href="/index.html" class="menu__link menu__link_active link">home</a>
                </li>
                <li class="menu__item">
                    <a href="/library.html" class="menu__link link">my library</a>
                </li>
            </ul>
        </nav>
        <form class="search-form js-search-form">
            <label class="search-form__label">
                <input type="text" class="search-form__input" name="user_query" placeholder="Поиск фильмов">
                <svg class="search-form__icon" width="12" height="12">
                    <use href="./images/sprite.svg#search"></use>
                </svg>
            </label>
        </form>
        <p class="warning-message is-hidden js-warning-message">Search result not successful. Enter the correct movie
            name
            and </p>
    </div>
</header>